.movies {
  width: min(90%, var(--sz-desktop));
  margin: 2rem auto;
}

.movies h2 {
  margin-bottom: 1rem;
}

.movies__container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 300px;
  gap: 0.85rem;
}

.movie__card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
  cursor: pointer;
  transition: filter var(--hover-speed) ease-in;
  animation: fadeInMoveUp var(--animation-speed) linear forwards;
  min-height: 300px;
  min-width: 200px;
  flex: 1;
}

.movie__card a {
  display: block;
  width: 100%;
  height: 100%;
}

.movie__card:hover {
  filter: brightness(1.2);
}

@media (max-width: 700px) {
  .movies__container {
    grid-auto-rows: 500px;
  }
}

@keyframes fadeInMoveUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
