.movie__details {
  width: min(90%, var(--sz-desktop));
  margin: 2rem auto;
  padding: 2.2rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  color: var(--clr-clear-text);
}

.movie__details-container {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.movie__details-description {
  flex: 1;
}

.movie__details-footer {
  margin: 1rem auto;
  text-align: right;
}

.movie__credits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.cast__card {
  border-radius: 1rem;
  overflow: hidden;
  font-size: 0.85rem;
}

.cast__card .cast__profile-pic {
  max-width: 100%;
}

.cast__details {
  padding: 10px;
}

@media (max-width: 780px) {
  .movie__details {
    flex-direction: column;
    align-items: center;
  }
}
