.spinner {
  margin: 5rem auto;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 8px solid rgb(214, 214, 214);
  border-top: 8px solid black;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
